
    <header class="container">
        <div >
            <a id="logo" href="/">tidings</a>
        </div>
        <nav>
            <ul>
                <li class="nav-link"> <a href="/about">About</a></li>
                <li class="nav-link"> <a href="/login">Log In</a> </li>
                <li class="nav-link"> <a href="/signup">Sign Up</a> </li>
            </ul>
        </nav>
    </header>