<%- include('partials/header') %>
<%- include('partials/nav') %>
    <form action="">
        <p>Log In</p>
        <label for="email">Email:</label>
        <input type="email" name="email" id=""> <br>
        <label for="password">Password:</label>
        <input type="password" name="" id=""> <br>
        <button>Log In</button>
        <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    </form>
<%- include('partials/footer') %>