<%- include('partials/header') %>

    <main id="new-tyd">
        <%- include('partials/nav') %>
        
        <form action="/tyds" method="post">
             <label for="">Share your tyd with the world.</label>
             <textarea name="tyd" id="" cols="30" rows="10"></textarea>
             <input type="submit" name="" id="" value="post">
        </form>

    </main>

<%- include('partials/footer') %>